# terok-credential-proxy-version: {{UNIT_VERSION}}

[Unit]
Description=terok credential proxy socket

[Socket]
ListenStream={{SOCKET_PATH}}
SocketMode=0600

[Install]
WantedBy=sockets.target
