# terok-credential-proxy-version: {{UNIT_VERSION}}

[Unit]
Description=terok credential proxy daemon
Requires=terok-credential-proxy.socket
After=terok-credential-proxy.socket

[Service]
Type=simple
ExecStart={{BIN}} --socket-path={{SOCKET_PATH}} --db-path={{DB_PATH}} --routes-file={{ROUTES_PATH}} --port={{PORT}} --ssh-agent-port={{SSH_AGENT_PORT}} --ssh-keys-file={{SSH_KEYS_FILE}}
